/* stylelint-disable no-descending-specificity */
.dynamicmedia-image {
    display: grid;
    grid-template-areas: "teaser";
    align-items: end;
    justify-items: center;
}

.dynamicmedia-image img {
    grid-area: teaser;
    width: 100%;
}
.dynamicmedia-image-wrapper{
    text-align:center;
}
